<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <div class="card-header">
          <h3>Login Here</h3>
        </div>
        <div class="card-body">
          <p class="alert alert-danger" *ngIf="errorMessage.trim() !== ''">
            {{ errorMessage }}
          </p>
          <form #loginForm="ngForm" (submit)="onSubmitForm(loginForm)">
            <!-- email -->
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder=""
                ngModel
                required
                email
              />
              <label for="email">Email</label>
            </div>

            <!-- password -->
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                id="passwod"
                placeholder=""
                minlength="6"
                required
                ngModel
              />
              <label for="passwod">Password</label>
            </div>

            <!-- buttons -->
            <div class="row">
              <div class="col-6">
                <div class="d-grid">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!loginForm.valid"
                  >
                    Login
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="d-grid">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    (click)="loginForm.reset()"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
