<ng-content select="header"></ng-content>

<h1>{{ user.firstName }} {{ user.lastName }}</h1>
<p>Date of Birth : <span [innerText]="user.dob"></span></p>
<p *ngIf="user.isWorking; else UserNotWorkingTemplate">
  Income : <span [innerText]="user.income"></span>
</p>
<p>Total Votes : {{ user.votes }}</p>
<input type="number" [(ngModel)]="user.votes" />

<ng-content select="footer"></ng-content>

<ng-template #UserNotWorkingTemplate>
  <p>Mr. {{ user.firstName.toUpperCase() }} is not working now!</p>
</ng-template>
