<div class="container">
  <app-main-navigation></app-main-navigation>

  <!-- <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button> -->

  <router-outlet></router-outlet>

  <app-i-am-eager></app-i-am-eager>

  <!-- <app-directive-demo></app-directive-demo> -->

  <!-- <app-life-cycle-demo *ngIf="toggle" [title]="title"></app-life-cycle-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-login></app-login> -->

  <!-- <app-sign-up></app-sign-up> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-observable-subject-demo></app-observable-subject-demo> -->

  <!-- <app-posts></app-posts> -->

  <!-- <app-users *ngIf="isAuthenticated()"></app-users> -->
</div>
