<div class="container">
  <h1>Pipe Demo Component</h1>

  <h2>Data : {{ promise | async }}</h2>

  <h2>Contact Number : {{ contactNumber | countryCode : "USA" }}</h2>
  <hr />

  <div class="row mb-4">
    <div class="col-6">
      <select class="form-control" [(ngModel)]="filteredStatus">
        <option value="">Show all</option>
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <div class="col-6">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="onAddTodo()">Add Todo</button>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item mb-3 p-3"
      *ngFor="let todo of todoCollection | filter : filteredStatus"
    >
      {{ todo.label | uppercase }}
      <span class="float-end"> - {{ todo.status | titlecase }}</span>
    </li>
  </ul>
</div>
